<div class="mt-4">
  <h3>Khoá học của tôi</h3>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá Học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="#" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
            data-bs-target="#deleteCourse">Xoá</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xoá khoá học?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xoá</button>
      </div>
    </div>
  </div>
</div>

    <form name="delete-form" method="post"></form>


<script>
  var deleteCourseModal = document.getElementById('deleteCourse')
  var courseDeleteId
  var deleteForm = document.forms['delete-form']

  deleteCourseModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    courseDeleteId = button.getAttribute('data-id')
  })

  var btnDeleteCourse = document.getElementById('btn-delete-course')
    btnDeleteCourse.onclick = function () {
      deleteForm.action = `/courses/${courseDeleteId}?_method=delete`
      deleteForm.submit()
    }

</script>