<div class="mt-4">
    <h3>Cập nhật khoá học</h3>
    <form method="post" action="/courses/{{course._id}}?_method=put">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input name="name" class="form-control" id="name" value="{{course.name}}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input name="description" class="form-control" id="description" value="{{course.description}}">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Id video</label>
            <input name="videoId" class="form-control" id="videoId" value="{{course.videoId}}">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">level</label>
            <input name="level" class="form-control" id="level" value="{{course.level}}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>